.wrapper-landing {
  display: flex;
  flex-direction: column;
  margin: 15% 0 5% 2%;
  color: #e41749;
}

.name-is {
  font-size: 3em;
}
.nama {
  font-size: 7em;
}

@media (max-width: 720px) {
  .wrapper-landing {
    display: flex;
    flex-direction: column;
    margin: 50% 0 2% 0;
    color: #e41749;
  }

  .name-is {
    font-size: 2em;
    text-align: center;
  }

  .nama {
    font-size: 6em;
  }
}
